@CHARSET "ISO-8859-1";
@charset "ISO-8859-1";
/***************************Calendario********************/

.input:FOCUS, input[type=date]:FOCUS {
	outline: none; /*toglie il bordo blu intorno*/
	border: 2px solid #3abdef; /*bordo colore quando selezionato*/
	border-collapse: collapse;
}

/* rimuove le doppie frecce */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator{
	 color: rgba(0, 0, 0, 0);
    opacity: 1;
}


/* Calendario immagine */
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    float: right;
    background: url("../immagini/icone/calendar2.png") no-repeat;
    width: 14px;
    height: 14px;
    margin-left: 5px;
}


input[type="date"]{
	
	width:243px;
    height: 243px;
}
/***********************CALendario fine*****************/





#codID{
	text-align: center;
}

.tabIns .col1{
	text-align: right;
	padding-left: 0px;'
}
.red{
	color: red;
}

/*section menu_admin*/


.val{
	text-align: center;
	margin-top: 3%;
}

button.accordion {
    background-color: #d6cbd3;
    color: #444;
    cursor: pointer;
    text-align: left;
    outline: none;
    font-family: sans-serif;
    transition: 0.4s;
    border: none;
}



button.accordion.active, button.accordion:hover {
    content: url("../immagini/icone/done.png");
    background-color: #e4dee2; 
    /*background-image: url("../immagini/icone/done.png");*/
    
}

div.panel {
	text-align:center;
    display: none;
     background: linear-gradient(#f0efef,#c2d4dd);
    /*background-color:#f0efef;*/
    margin-top: 0%;
    /* text-align: center; */
    margin-bottom: 1%;
    margin-right: 5%;
    margin-left: 5%;
    
}

/*div degli input*/
.insert{
	text-align: center;
	margin-bottom: 6%;
	/* margin-left: 20%; */
}

/*testo delle form*/

.AD_text{
	color: black;
	font-weight: bold;	
	
	font-family: serif;
	
	margin-bottom: 1%;
	margin-right: 5px;
	
}

.top{
	padding-top: 6%;
	text-align: center;
}


/*************tabella**************/

.myTable{
	text-align: center;
	padding-bottom: 2%;
}



td{
	text-align: left;
	
}




/************** stile input *****************/

.insert input[type=text], .insert input[type=date] {
	 outline: none; /*toglie il bordo blu intorno*/
	background: rgba(255, 255, 255, 0.8); /*colore di sfondo*/
	/*border:1px solid aqua; /*bordo*/
	color: black; /*colore del testo*/
	font: 20px Arial, Helvetica, sans-serif;
	padding-bottom: 8px;
	padding-top: 8px;
	padding-left: 10px;
	margin: 0px 5px;
	height: 22px;
	border: 2px solid #343a65; /*colore bordo*/
	border-radius: 5px;
	
}




.insert input[type=text]:FOCUS, .insert input[type=date]:FOCUS  {
	outline: none; /*toglie il bordo blu intorno*/
	border: 2px solid #7ca3b6; /*bordo colore quando selezionato*/
	box-shadow: inset 2px 2px 8px #d7d7d7;
	border-collapse: collapse;
	
}


#InsertVolo{
	margin-top: 2%;
	margin-left: 6%;
}


/*titolo modifica volo**/
.tit_mod{
	font: italic;
	font-family: serif;
	font-size: 25px;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 3%;
}

.descrizione{
	font: italic;
	font-family: serif;
	font-size: 20px;
	text-align: center;
	padding-top: 3%;
	margin-bottom: 3%;
	margin-top: 0%;
}

/**input submit**/
.US_sub{
  padding: 8px 15px;
  font-size: 19px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #343a65;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 2px #b4b4b4;
}

.US_sub:hover{
	background-color: #7ca3b6;
}

.US_sub:active{
  background-color: #76c0c9;
  box-shadow: 0 3px 4px #b4b4b4;
  transform: translateY(4px);
}


/***tabella visualizza volo***/
.vedi{
	margin-left: 0%;
	width: 100%;
}

.VediV {
   /*  border-collapse: collapse;
    border-spacing: 0; */
    padding-top: 1%;
     padding-bottom: 1%;
    width: 100%;
    border: none;
    margin-top: 5%;
    
}

.VediV th,.VediV td {
    border: none;
    text-align: left;
    padding-top: 1%;
     padding-bottom: 1%;
}

.VediV th{
	color: navy;
}

.VediV tr:nth-child(even){background-color: #ffffff}

.VediV tr:hover {background-color: #adedf8}


h3.tit_mod{
	padding-top: 2%;
	margin-top: 0%;
}

div.panel.vedi{
	padding-left: 2%;
	padding-right: 2%;
	
}

/*********************************************** RESPONSE ***********************************************/

/******************************** MIN-WIDTH 900 ***************************************/

@media screen and (min-width : 900px) {
	
body{
	margin-left: 0%;
}

div.panel.vedi{
	margin-left: 0%;
	width: 100%;
}

.tabIns .col1{
	text-align: right;
	padding-right: 5%;
	padding-left: 0px;
	margin-left: 15%;
	width: 40%;
}

/*bottone invio in basso a destra*/
.basso_dest{
	margin-left: 25%;
	margin-top: 5%;
}


.myTable{
	margin-left: 5%;
}


.tabIns{
	margin-left: 10%;
}


.menu_admin{
	margin-top: 6%;
}


button.accordion {
    padding: 2%;
    padding-left: 5%;
    width: 76%;
    text-align: center;
    font-size: 20px;
    margin-left: 12%;
    margin-right: 12%;
}
	
div.panel {
	 margin-left: 10%;
    margin-right: 10%; 
	padding: 8px 12px;
}
	
	
.AD_text{
	font-size: 20px;
}
	
.padd{
	padding-left: 5%;
}

/***colonne tabella modifica volo****/
.col1, .col3{
	padding-left: 3%;
}
	

	

div.panel.vedi{
	padding: 0px 5%;
}
	
	
.VediV th,.VediV td {
    padding: 8px;
}
	


	

}
/**************************** MIN-WIDTH 900-FINE **************************************/




/******************************** MIN-WIDTH 850 ***************************************/

@media screen and (min-width : 850px)  and (max-width : 899px){

body{
	margin-left: 0%;
}

div.panel.vedi{
	margin-left: 0%;
	width: 100%;
}

.tabIns .col1{
	padding-right: 1%;
}
	
/*bottone invio in basso a destra*/
.basso_dest{
	margin-left: 27%;
	margin-top: 10%;
}


.myTable{
	margin-left: 5%;
}


.tabIns{
	margin-left: 10%;
}


.menu_admin{
	margin-top: 6%;
}


button.accordion {
    padding: 2%;
    padding-left: 5%;
    width: 76%;
    text-align: center;
    font-size: 20px;
    margin-left: 12%;
    margin-right: 12%;
}
	
div.panel {
	 margin-left: 10%;
    margin-right: 10%; 
	padding: 8px 12px;
}
	
	
.AD_text{
	width:30%;
	font-size: 20px;
}
	
.padd{
	padding-left: 5%;
}

/***colonne tabella modifica volo****/
.col1{
	width: 27%;
	padding-top: 3%;
}
	

.col2{
	width: 30%;
	padding-top: 3%;
	padding-left: 2%;
	
}

.col3{
	width: 25%;
	padding-top: 3%;
}
	
	
	
}
/**************************** MIN-WIDTH 850-FINE **************************************/


/**************************** MAX-WIDTH 849 **************************************/
@media screen and (max-width : 849px) and (min-width : 571px){

body{
	margin: 0%;
}

div.panel.vedi{
	margin-left: 0%;
	width: 100%;
}
	
	
	
/*bottone invio in basso a destra*/
.basso_dest{
	margin-left: 10%;
	margin-top: 2%;
}
	
.AD_text{
	width: 30%;
}


.menu_admin{
	margin-top: 8%;
	text-align: center;
}

.tabIns{
	margin-left: 6%;
}
	
button.accordion {
    padding: 2%;
    padding-left: 5%;
    width: 75%;
    text-align: center;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.AD_text{
	font-size: 19px;
}	




/***colonne tabella modifica volo****/
.col1{
	width: 25%;
	padding-top: 3%;
}
	

.col2{
	width: 30%;
	padding-top: 3%;
	padding-left: 2%;
}

.col3{
	width: 15%;
	padding-top: 3%;
	margin-left: 0%;
}
	
	
.US_input input[type=text], .US_input input[type=date] {
	width:80%;	
}

}
/**************************** MAX-WIDTH 849-FINE**************************************/

/**************************** MAX-WIDTH 570 **************************************/
@media screen and (max-width : 570px) and (min-width : 431px){


	
div.panel.vedi{
	margin-left: 0%;
	width: 100%;
	
}
	
	
/*bottone invio in basso a destra*/
.basso_dest{
	margin-left: 10%;
	margin-top: 2%;
}
	
.insert input[type=text] , .insert input[type=date]{
	width: 40%;
}

.AD_text{
	width: 35%;
}


.menu_admin{
	margin-top: 15%;
	text-align: center;
}

.tabIns{
}
	
button.accordion {
    padding: 2%;
    padding-left: 5%;
    width: 80%;
    text-align: center;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.AD_text{
	font-size: 19px;
}	


div.panel {
	 margin-left: 6%;
    margin-right: 6%; 
    padding: 6px 10px;
	
}


/***colonne tabella modifica volo****/
.col1{
	width: 25%;
	padding-top: 3%;
}
	

.col2{
	width: 35%;
	padding-top: 3%;
	padding-left: 2%;
}

.col3{
	width: 15%;
	padding-top: 3%;
	margin-left: 0%;
}
	
	
.US_input input[type=text], .US_input input[type=date] {
	width:80%;	
}

}
/**************************** MAX-WIDTH 570-FINE**************************************/


/**************************** MAX-WIDTH **************************************/

@media screen and (max-width : 430px) {

div.panel.vedi{
	margin-left: 0%;
	width: 100%;
}
	
	
/*bottone invio in basso a destra*/
.basso_dest{
	margin-left: 15%;
	margin-top: 5%;
}
	
.AD_text{
	font-size: 18px;
	padding-left: 3%;
	padding-bottom: 1%;
}

.menu_admin{
	margin-top: 17%;
	text-align: center;
	margin-left: 0%;
	margin-right: 0%;
}

button.accordion {
	font-size: 22px;
    padding: 5%;
    width: 100%;
    text-align: center;
}

div.panel {
	
     padding: 5px 8px;
	
}


.insert input[type=text], .insert input[type=date] {
	width:85%;
	font-size: 18px;	
}


/***colonne tabella modifica volo****/
.col1{
	width: 25%;
	padding-top: 3%;
	
}
	

.col2{
	width: 25%;
	padding-top: 3%;
	padding-left: 2%;
}

.col3{
	width: 10%;
	padding-top: 3%;
	margin-left: 1%;
}
	
	
.US_sub{
  padding: 6px 10px;
  font-size: 17px;
  
}


}