@CHARSET "ISO-8859-1";
footer {
	color: #143b6c;
	background: rgb(217, 217, 217);
	left: 0;
	font-family: sans-serif;
	margin: 0 10%;
	top: auto;
	}

.posizione {
 float:left;
}
.posizioneDestra{
	 float:none;
}

.copyright {
	margin-top: 10%;
	margin-bottom: 5px;
	
}

.altoCentro {
	margin-left: 50%;
	font-size: 17px;
	height: 5px;
	margin-top: 0px;
	margin-right: 100%;
	margin-bottom: 20px;
	margin-left: 50%
	}
	
.altoDestra {
	font-size: 17px;
	margin-top: 0%;
	margin-bottom: 5px;
	margin-left: 100%;
	margin-right:0%;	
	}
	


.titoloFooter{
	margin-bottom: 5px;
}

/*********************************************** RESPONSE ***********************************************/


@media only screen and (min-width: 769px) and (max-width: 940px) {
	footer {
		margin-top: 80%;
	}
	
	.altoDestra {
	margin-left: 70%;
	}
}

@media screen and (min-width : 769px) {
	footer {
		margin-top: 75%;
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media screen and (max-width : 768px) {
	footer {
		margin-top: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen and (max-width : 300px) {
	footer {
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen and (max-width : 768px) {
	
	body{margin: 0}
	footer {margin: 0; width: 100% }
}
/**************************** MAX-WIDTH 768 **************************************/
@media screen and (max-width : 768px) {
	
	
	footer{margin: 0; margin-top: 0; width: 100%;    }
	
	.altoCentro{ 
     
	  margin-right:60%;
	
}
	
.altoDestra {
		text-align: center;
		font-size: 17px;
		margin-top: 0%;
		margin-bottom: 0px;
		margin-left: 70%;}
	.copyright{
	margin-top:0px;
	font-size:12px;
	}



/** NAV INFERIORE **/


}
/**************************** MAX-WIDTH 768-FINE**************************************/



/******************************** MIN-WIDTH 769 ***************************************/
@media screen and (min-width : 500px){

	.posizione{
	width: 100px;}


	}
@media screen and (min-width : 769px){
	
	footer{width: 78%; height: 100%; }
	
	.altoCentro{ 
     
	  margin-right:60%;	
	}
	
.altoDestra{ 
 text-align: center;
	font-size: 17px;
		  height:85px;
	  margin-top: 0%;
	   margin-bottom: 0px;
	margin-left: 60%;
}
	.copyright{

	margin-top:0px;
	 margin-bottom: 5px;

	
	}

	
}
/**************************** MIN-WIDTH 769-FINE **************************************/

@media screen and (max-width : 330px) {
footer{margin: 0; margin-top: 0; width: 100%;   height: 100%; 
padding-right: 0px;}
	.copyright{

	margin-top:0px;
	 margin-bottom: 5px;
	 font-size:12px;
	
	}

}

