@CHARSET "ISO-8859-1";
 h2,h3,h5{
	color: #2266bb;
}

h4{
		color: #000080;
}

body{
	
   background-image: linear-gradient(#ffffff 0%,#b3c4ff 100%);
}
p{
	text-align: center;
	font-family: sans-serif;
	color:#2266bb;
	
	
}
input[type=text].input_Pass  {
	display: inline-block;
	background: rgba(255, 255, 255, 0.8); /*colore di sfondo*/
	color:#000080; /*colore del testo*/
	font: 18px Arial, Helvetica, sans-serif;
	padding: 8px 10px;
	margin-bottom: 3%;
	margin-top: 1%;
	height: 25px;
	width: 20% !important;
	font-family: sans-serif;
	border: 2px solid #000080; /*colore bordo*/
	border-radius: 5px;
	/* border: 1px solid #ccc;
	box-sizing: border-box; */
}
.US_sub{
  padding: 8px 15px;
  font-size: 19px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #343a65;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 2px #b4b4b4;
  margin-bottom:20px;
  
}

.US_sub:hover{
	background-color: #7ca3b6;
}

.US_sub:active{
  background-color: #76c0c9;
  box-shadow: 0 3px 4px #b4b4b4;
  transform: translateY(4px);
}
img.floatright {
	float: right;

  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), 
                     inset 0 4px 5px rgba(0,0,0,.6), 
                     inset 0 1px 0 rgba(0,0,0,.6);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), 
                        inset 0 4px 5px rgba(190, 214, 243, 0.8), 
                        inset 0 1px 0 rgba(190, 214, 243, 0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,.2), 
                inset 0 4px 5px rgba(190, 214, 243, 0.8), 
                inset 0 1px 0 rgba(190, 214, 243, 0.8);
 
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
	margin-left: 2%;
}
img.floatleft {
	float: left;

  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), 
                     inset 0 4px 5px rgba(0,0,0,.6), 
                     inset 0 1px 0 rgba(0,0,0,.6);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), 
                        inset 0 4px 5px rgba(190, 214, 243, 0.8), 
                        inset 0 1px 0 rgba(190, 214, 243, 0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,.2), 
                inset 0 4px 5px rgba(190, 214, 243, 0.8), 
                inset 0 1px 0 rgba(190, 214, 243, 0.8);
 
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
	margin-right: 2%;
}
.generalPAGE {
   position:absolute; 
   top:250px; 
 
    align:right;
	margin:0 10%;
}

.pageFAQ{
	 position:absolute; 
   top:150px; 
 
    align:right;
	margin:0 10%;
}
.contatti {
   position:static; 
   top:150px; 
    text-align:center;
    
	margin:7% 10%;
}

#titolo{
		color: #2266bb;
}

img.parcheggio {
	float: right;
}

/*********************************************** RESPONSE ***********************************************/

/**************************** MAX-WIDTH 768 **************************************/
@media screen and (max-width : 768px) {

	.generalPAGE {
  position: relative; 
   top:0px; 
    align:right;
	margin:0 10%;
	}
	.pageFAQ {
  position: relative; 
   top:0px; 
    align:right;
	margin:0 10%;
	}
.contatti{
	 position: relative; 
   top:0px; 
	margin:0 35%;
}

}
/**************************** MAX-WIDTH 768-FINE**************************************/



/******************************** MIN-WIDTH 769 ***************************************/

@media screen and (min-width : 769px) {

	
}
/**************************** MIN-WIDTH 769-FINE **************************************/

@media screen and (max-width : 330px) {

	nav ul li { 
 	 display: block;
	}

}
