@CHARSET "ISO-8859-1";

 /**************   checkbox  *****************/
/* Base for label styling */

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  position: relative;
   cursor: pointer;
}

/*checkbox aspect*/
[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
  content:'';
  position: absolute;
  left: 0; 
  top: 0;
  width: 16px; 
  height: 16px;
 border: double 2px #2877d7;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
   
}

/*checked mark aspect*/
[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
  content: url("../immagini/icone/done.png");
  border: double 2px #3abdef;
  border-radius: 4px;
  position: absolute;
  top: 0; 
  left: 0;
  font-size: 1.3em;
  line-height: 0;
  color: #09ad7e;
  transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.text_check{
 font-family: sans-serif;
 margin-left: 7%;
}
/* *****   checkbox  ******** */

 
/***********REGISTRATI e PASSWORD DIMENTICATA************/


#text{
 height: 25%;
 margin-bottom: 2%;
}

#text_pax{
 text-align: left;
 font-family: sans-serif;
 margin-top: 0;
 margin-left: 6%;
 margin-bottom: 3%;
}

#text_h4{
 font-family: sans-serif;
  position: absolute;
    left: 27%;
    
}

/* The Modal (background) */
.modal {
 /**serve per scendere giù*/ 
 overflow: scroll;
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
    /* overflow: scroll;  *//*Enable scroll if needed */
 background-color: rgb(0, 0, 0); /* Fallback color */
 background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
 /* padding-top: 1%; */
}


/* FRORM Modal Content/Box */
.modal-content {
 background-color: #fefefe;
 margin: 5% auto 15% auto;
 /* 5% from the top, 15% from the bottom and centered */
 border: 1px solid #888;
 padding: 1%;
}

/* Full-width input fields */

#name{
 text-align: left;
 font: 18px sans-serif;
 margin-left: 7%;
 color: #000066;
 margin-top: 3%;
}

#input{
 text-align: center;
 width: 100%;
}

input[type=text].input_log, input[type=password] {
 display: inline-block;
 background: rgba(255, 255, 255, 0.8); /*colore di sfondo*/
 color:fuchsia; /*colore del testo*/
 font: 18px Arial, Helvetica, sans-serif;
 padding: 8px 10px;
 margin-bottom: 3%;
 margin-top: 1%;
 height: 25px;
 width: 85% !important;
 border: 2px solid #2877d7; /*colore bordo*/
 border-radius: 5px;
 /* border: 1px solid #ccc;
 box-sizing: border-box; */
}

input[type=text].input_log:focus, input[type=password]:focus{
 outline: none; /*toglie il bordo blu intorno*/
 border: 2px solid #3abdef; /*bordo colore quando selezionato*/
 box-shadow: inset 2px 2px 8px gray;
 border-collapse: collapse;
}





/* Set a style for all buttons */
.butt-log {
 background-color: #4CAF50;
 color: white;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 width: 100%;
}

.butt-log:hover {
 opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
 width: auto;
 padding: 10px 18px;
 background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
 text-align: center;
 /* background-image: url("FreedomAirport/WebContent/immagini/icone/avatar.png"); */
 position: relative;
 /* background-image: url("../immagini/icone/user_1.png"); */
}


span.psw {
 float: right;
 padding-top: 16px;
}



/* The Close Button (x) */
.close {
 position: absolute;
 right: 2%;
 color: #000;
 font-size: 35px;
 font-weight: bold;
}

.close:hover, .close:focus {
 color: blue;
 cursor: pointer;
}

/* botton submitLogin*/
#submitLogin{
 position: inherit;
 float: right;
 background: linear-gradient(#2266bb, #4d8edf, #2266bb);
 border: thin;
 /*cerca*/
 font-size: 20px;
 color: white;
 padding: 10px 15px;
 text-align: center;
 /*fine cerca*/
 text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    margin-right: 3%;
}

#submitLogin:hover{ 
 box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24),0 10px 40px 0 rgba(0,0,0,0.19);
}

/* Add Zoom Animation */
.animate {
 -webkit-animation: animatezoom 0.6s;
 animation: animatezoom 0.6s
}

@
-webkit-keyframes animatezoom {
 from {-webkit-transform: scale(0)
}

to {
 -webkit-transform: scale(1)
}

}

@
keyframes animatezoom {
 from {transform: scale(0)
}

to {
 transform: scale(1)
}

}



/*********************************************** RESPONSE ***********************************************/


/**************************** MIN-WIDTH 1200 **************************************/
@media screen and (min-width: 1200px) {

#text_h4{
 bottom: 3%;
}


.modal-content {
 width: 55%; /* Could be more or less, depending on screen size */
 /* height: 500px; */
 height: 80%;
}


.container{
 paggin-top: 0px;
 padding-left: 13px;
 padding-right: 13px;
 padding-bottom: 13px;
}


.avatar{
 padding-top: 5%;
}

#img_avatar{
 width: 110px;
}



/* botton submitLogin*/
#submitLogin{
 margin-right: 2%;
}

}


/**************************** MAX-WIDTH 1199 - MIN-WIDTH 1000 **************************************/
@media screen and (max-width: 1199px) and (min-width: 1000px){
#text_h4{
 bottom: 13%;
}


.modal-content {
 width: 54%; /* Could be more or less, depending on screen size */
 height: 75%;
}


.container{
 paggin-top: 0px;
 padding-left: 14px;
 padding-right: 14px;
 padding-bottom: 14px;
}


.avatar{
 padding-top: 4%;
}

#img_avatar{
 width: 115px;
}



/* botton submitLogin*/
#submitLogin{
 margin-top: 2%;
 margin-right: 1%;
}

}



/**************************** MAX-WIDTH 999 - MIN-WIDTH 900 **************************************/
@media screen and (max-width: 999px) and (min-width: 900px){

#text_h4{
 bottom: 18%;
}


.modal-content {
 width: 52%; /* Could be more or less, depending on screen size */
 height: 70%;
} 
 


.container{
 paggin-top: 0px;
 padding-left: 11px;
 padding-right: 11px;
 padding-bottom: 11px;
}


.avatar{
 padding-top: 4%;
}

#img_avatar{
 width: 100px;
}



/* botton submitLogin*/
#submitLogin{
 margin-top: 3%;
 margin-right: 1%;
}


}


/**************************** MAX-WIDTH 899 - MIN-WIDTH 750 **************************************/
@media screen and (max-width: 899px) and (min-width: 750px){

#text_h4{
 bottom: 17%;
}


.modal-content {
 width: 56%; /* Could be more or less, depending on screen size */
 height: 73%;
 
} 
 


.container{
 paggin-top: 0px;
 padding-left: 8px;
 padding-right: 8px;
 padding-bottom: 8px;
 
}


.avatar{
 padding-top: 4%;
}

#img_avatar{
 width: 100px;
}



/* botton submitLogin*/
#submitLogin{
 margin-top: 5%;
 margin-right: 1%;
}
 
}


/**************************** MAX-WIDTH 749 - MIN-WIDTH 570 **************************************/
@media screen and (max-width: 749px) and (min-width: 570px){
 
#text_h4{
 bottom: 21%;
 left: 23%;
}


.modal-content {
 width: 65%; /* Could be more or less, depending on screen size */
 height: 70%;
 
} 
 


.container{
 paggin-top: 0px;
 padding-left: 9px;
 padding-right: 9px;
 padding-bottom: 9px;
 
}


.avatar{
 padding-top: 4%;
}

#img_avatar{
 width: 95px;
}



/* botton submitLogin*/
#submitLogin{
 margin-top: 5%;
 margin-right: 1%;
}
  
}

/**************************** MAX-WIDTH 569 - MIN-WIDTH 470 **************************************/
@media screen and (max-width: 569px) and (min-width: 470px){
 
#text_h4{
 bottom: 23%;
 left: 20%;
}


.modal-content {
 width: 67%; /* Could be more or less, depending on screen size */
 height: 70%;
 
} 

.container{
 paggin-top: 0px;
 padding-left: 5px;
 padding-right: 5px;
 padding-bottom: 5px;
 
}


/* botton submitLogin*/
#submitLogin{
 margin-top: 6%;
 margin-right: 1%;
}

#img_avatar{
 margin-top: 4%;
 width: 90px;
}
 
}

/**************************** MAX-WIDTH 469 **************************************/
@media screen and (max-width: 469px) {
  
#te
 xt_h4{
 bottom: 27%;
 left: 20%;
}


.modal-content {
 width: 67%; /* Could be more or less, depending on screen size */
 height: 66%;
 
}

/* botton submitLogin*/
#submitLogin{
 margin-top: 8%;
 margin-right: 1%;
} 

#img_avatar{
 margin-top: 5%;
 width: 85px;
}


}

/**************************** MAX-WIDTH 300 **************************************/
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
 span.psw {
  display: block;
  float: none;
 }
 .cancelbtn {
  width: 100%;
 }
}