@CHARSET "ISO-8859-1";


/**menu utente***/
#mydown{
	padding: 2px;
	background:rgba(255, 255, 230, 0.9);
	text-align: center;
}

#mydown a.welcome{
	background:rgba(26, 26, 255, 0.8);
	font-family: serif;
    font-size: large;
	color: white;
	padding: 5%;
}

#mydown a{
	font-family: serif;
    font-size: large;
	text-align: center;
	padding: 6%;
}


#mydown a:hover, .logout:hover{
	background:rgba(0, 134, 179, 0.8);
	color: white;
}

#mydown a:focus, .logout:focus{
	background:rgba(26, 26, 255, 0.8);
	color: white;
}

.logout{
	width: 100%;
	height: 100%;
    background:rgba(255, 255, 230, 0.2);
    font-family: serif;
    font-size: large;
    color: black;
    padding: 0px 0px;
    margin: 0px 0px;
    border: none;
    cursor: pointer;
}


.btn {
    border: none;
    cursor: pointer;
     background: rgba(190, 214, 243, 0.1);
     background-image:url("../immagini/icone/user.png");
     background-repeat: no-repeat;
     width: 30px;
   height: 30px;
   margin-left: 35%; 
}

.btn:hover, .dropbtn:focus {
}

.down {
    float: right;
    position: relative;
    display: inline-block;
    
}

.down-cont {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.down-cont a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.down a:hover {background-color: #f1f1f1}

.show {display:block;}

/*********************************** NAV SUPERIORE *********************************************/
header{
  display: flex;
  color: white;
  height: 55px;
  margin-top:5%;
  margin: 0 10%;
  background: rgba(190, 214, 243, 0.8);
  /*background: linear-gradient(#fbfbfb, #ffffff, #fbfbfb);*/
}

/**CARRELLO E LOGIN**/

.ul_nav{
	margin-top: 0px;
	margin-bottom: 0px;
	height: 100% !important;
}

.ul_nav li{
	height: 100% !important;
	text-align: right;
	display: inline;
}

/*form che contiene le icone del carrello user e setting*/
.Login{
	height: 100% !important;
	text-align: right;
	margin-right: 1px; 
}

.shop-menu{
	align-items: center;
	width: 88%;
	padding-right: 3%;
	padding-top: 2%;
}

.shop-menu ul{
		float: right;
	
}

.shop-menu ul li{
  padding-left: 10px;
  
 
}

.shop-menu ul li a{
	font-size: 18px;
	font-family: Sans-serif;
	padding-left: 10%;
	text-align: right;
}

.login{
	text-align: right;
}

.setting{
	margin-bottom: 20%;
	margin-right: 2%;
}


/*** fine carrello e login*****/


/*div che contiene il logo*/
.logo {
	position: relative;
	margin-left: 5px;
}


/*titolo accanto al logo*/
.title {
	float: right;
	text-align: center;
	/* font: bold 28px Monotype Corsiva; */
	color: white;
	margin-top: 13%;
	margin-right: 11%;
}


/*********************************** NAV SUPERIORE-FINE ***************************************/




/*********************************** NAV INFERIORE *********************************************/
/******nav****/

.toggle-menu, .toggle, [id^=drop] {
 display: none;
}

li > a:only-child:after { content: ''; }

nav {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #2266bb;
  border-top: 1px solid #184781;
}


nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}


nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
}


nav a {
  display: block;
  padding: 0 20px;
  color: white;
  font-size: 20px;
  font-family: Sans-serif;
  line-height: 50px;
  text-decoration: none;
}

/*nav ul li ul li:hover { background: fuchsia; }*/


nav a:hover { /**quando l'elemento è selezionato**/
	background-color: #1199cc; 
	border-radius: 2px;
}

.dropdown-content{
	background: rgba(34, 102, 187, 0.7);
	border-radius: 3px;
	z-index: 2;
	outline: none;
}
nav ul ul {
	
  display: none;
  position: absolute;
  top: 52px;
  border-radius: 2px;
}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
  min-width: 140px;
  float: none;
  display: list-item;
  position: relative;
  
}
/*********************************** NAV INFERIORE-FINE ***************************************/


/*****fine nav****/





/*********************************************** RESPONSE ***********************************************/
@media screen and (max-width : 500px) and (min-width : 385px){ 	
	.col-content{
	margin-left: 8%;}
}
@media screen and (max-width : 425px) and (min-width : 380px){ 	
	.col-content{
	margin-left: 15px;}
}
@media screen and (max-width : 700px) and (min-width : 501px){ 	
	.col-content{
	margin-left: 12%;} 
}
/******************************** MIN-WIDTH 769 ***************************************/

@media screen and (min-width : 1200px) {

/*immagine logo*/
.logo_pegaso {
	/* height: ; */
	width: 65%;
}
	
.shop-menu ul li{ padding-left: 10px; }
	
/* .ul_nav{
	width: 14%;
} */


}
/**************************** MIN-WIDTH 769-FINE **************************************/



/******************************** MIN-WIDTH 769 ***************************************/

@media screen and (min-width : 769px) and (max-width : 1199px){

	/*immagine logo*/
.logo_pegaso {
	/* height: ; */
	width: 65%;
	padding-top: 1%;
}
	.shop-menu ul li{ padding-left: 1px; }
	
/* .ul_nav{
	width: 20%;
} */


}
/**************************** MIN-WIDTH 769-FINE **************************************/

/******************************** MAX-WIDTH 900 ***************************************/

@media screen and (max-width : 900px) and (min-width : 769px){
	
	.shop-menu ul li{ padding-left: 10px; }

.logo_pegaso {
	/* height: ; */
	width: 63%;
	padding-top: 2%;
	
}
	
}
/**************************** MAX-WIDTH 900-FINE **************************************/


/**************************** MAX-WIDTH 768 **************************************/

@media screen and (max-width : 768px) and (min-width : 451px){
	
/* .ul_nav{ width: 30%;}

.ul_nav{
	width: 25%;
}
 */

}

@media screen and (max-width : 768px) and (min-width : 570px){
	.logo_pegaso {
	/* height: ; */
	width: 70%;
	padding-top: 2%;
	
}
}


@media screen and (max-width : 569px) and (min-width : 450px){
	.logo_pegaso {
	/* height: ; */
	width: 80%;
	padding-top: 2%;
	
}
}


@media screen and (max-width : 768px) {
	
	body{margin: 0}
	header, nav {margin: 0; margin-top: 0; width: 100% }

/***** NAV SUPERIORE****/
.shop-menu{
	width: 100%;
}

.shop-menu ul li{ padding-left: 3px; }

.shop-menu ul li a{
	font-size: 16px;
}

/* .ul_nav{
	width: 30%;
}
 */
/***** NAV SUPERIORE-FINE****/


/***** NAV INFERIORE****/
	.toggle-menu + a, .toggle + a, .menu { 	display: none; }

.toggle {
  outline: none; 
  display: block;
  /*colore sfondo tasto menu*/
  /*background-color: lime;*/
  border: none;
  color: #FFF;
  text-decoration: none;
  font-size: 22px;
  padding: 8px 5px;
  line-height: 40px;
  text-align: center;
}

 
 .toggle-menu {
  display: inline-block;
  /*colore sfondo tasto menu*/
  /*background-color: lime;*/
  border: none;
  color: #FFF;
  text-decoration: none;
  font-size: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 40px;
  width: 100%;
  text-align:center;
  maring-right: 80%;
  right: -15px;

}
 


.toggle:hover, .toggle-menu:hover { background-color: silver; }/**quando l'elemento è selezionato**/

[id^=drop]:checked + ul { display: block; }



/**menu con le spunte a destra**/
.toggle-menu span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.toggle-menu span:after {
	/*per la freccia vicino al menu*/
	background-image: url("../immagini/icone/arrow.png");
	background-repeat:no-repeat;
    background-size: 10px;
    width: 15px; 
    height: 15px;
    margin-top:15px;
    content:"";
	/*content:url("C:/PROGETTI WEB/A_HTML_NUOVO/WebContent/immagini/arrow.png");*/
  /*content: '\21E3';*/
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.toggle-menu:hover span {
  padding-right: 30px;
}

.toggle-menu:hover span:after {
  opacity: 1;
  right: 0;
}
/** fine menu con le spunte a destra**/


nav a{
	font-size: 22px;
	line-height: 40px;
	padding: 8px 5px;
}
nav ul {
 float: none;
 text-align: center;
}


nav ul li {
  display: block;
  width: 100%;
}

.dropdown{
	line-height: 40px;
}
nav ul ul .toggle,  nav ul ul a { padding: 0 40px; }

nav a:hover,  { background-color: #000000; }

/**riferito a volo, check-in, bagagli**/
nav ul li ul li .toggle,  nav ul ul a { background-color: yellow; }

nav ul ul {
  float: none;
  position: static;
  color: #ffffff;
}

nav ul ul li:hover > ul, nav ul li:hover > ul { display: none; }

nav ul ul li {
  display: block;
  width: 100%;
}

/** NAV INFERIORE **/


}
/**************************** MAX-WIDTH 768-FINE**************************************/


/******************************** MAX-WIDTH 450 ***************************************/

@media screen and (max-width : 450px) {
	
	.shop-menu ul li{ padding-left: 10px; }
	
.ul_nav{
	padding-top: 2%;
	/* width: 40%; */
}

.logo_pegaso {
	/* height: ; */
	width: 80%;
	padding-top: 4%;
	
}

.bott_volo{
	width: 100%;
}

}
/**************************** MAX-WIDTH 450-FINE **************************************/

/******************************** MAX-WIDTH 330 ***************************************/
@media screen and (max-width : 330px) {

	nav ul li { 
 	 display: block;
	}

}
/**************************** MAX-WIDTH 330-FINE **************************************/
