@CHARSET "ISO-8859-1";



/*********************************** NAV SUPERIORE *********************************************/
header{
  display: flex;
  color: white;
  height: 55px;
  margin-top:5%;
  margin: 0 10%;
  background: rgba(190, 214, 243, 0.8);
  /*background: linear-gradient(#fbfbfb, #ffffff, #fbfbfb);*/
}



/*div che contiene il logo*/
.logo {
	position: relative;
	width: 225px;
	margin-left: 10px;
}

/*immagine logo*/
.logo_pegaso {
	height: 55px;
	width: 55px;
}

/*titolo accanto al logo*/
.title {
	float: right;
	text-align: center;
	font: bold 30px Monotype Corsiva;
	color: #999999;
	margin-top: 13%;
}



/**CARRELLO E LOGIN**/



/*icone carrello e utente*/
.carrello, .im_login{
	width: 22px;
	height: 22px;

}

.shop-menu{
	align-items: center;
	width: 90%;
}

.shop-menu ul{
		float: right;
}

.shop-menu ul li{
  display: inline-block;
}

.shop-menu ul li a{
	font-size: 18px;
}

.shop-menu ul li a:HOVER{
	color: black;
	text-shadow: 3px 3px 4px gray;
}

/*** fine carrello e login*****/


/*********************************** NAV SUPERIORE-FINE ***************************************/




/*********************************** NAV INFERIORE *********************************************/
/******nav****/

.toggle-menu, .toggle, [id^=drop] {
 display: none;
}

li > a:only-child:after { content: ''; }

nav {
  padding: 1px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #2266bb;
  border-top: 1px solid #184781;
}


nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
 float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}


nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
}


nav a {
  display: block;
  padding: 0 20px;
  color: white;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
}

/*nav ul li ul li:hover { background: fuchsia; }*/


nav a:hover { /**quando l'elemento è selezionato**/
	background-color: #1199cc; 
	border-radius: 2px;
}

.dropdown-content{
	background: rgba(34, 102, 187, 0.7);
	border-radius: 3px;
	z-index: 2;
	outline: none;
}
nav ul ul {
	
  display: none;
  position: absolute;
  top: 52px;
  border-radius: 2px;
}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
  min-width: 140px;
  float: none;
  display: list-item;
  position: relative;
  
}
/*********************************** NAV INFERIORE-FINE ***************************************/


/*****fine nav****/





/*********************************************** RESPONSE ***********************************************/

/**************************** MAX-WIDTH 768 **************************************/
@media screen and (max-width : 768px) {
	
	body{margin: 0}
	header, nav {margin: 0; margin-top: 0; width: 100% }

/***** NAV SUPERIORE****/

.shop-menu{
	width: 100%;
}

.shop-menu ul li a{
	font-size: 16px;
}

/***** NAV SUPERIORE-FINE****/


/***** NAV INFERIORE****/
	.toggle-menu + a, .toggle + a, .menu { 	display: none; }

.toggle {
  outline: none; 
  display: block;
  /*colore sfondo tasto menu*/
  /*background-color: lime;*/
  border: none;
  color: #FFF;
  text-decoration: none;
  font-size: 22px;
  padding: 8px 5px;
  line-height: 40px;
  text-align: center;
}

 
 .toggle-menu {
  display: inline-block;
  /*colore sfondo tasto menu*/
  /*background-color: lime;*/
  border: none;
  color: #FFF;
  text-decoration: none;
  font-size: 22px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 40px;
  width: 100%;
  text-align:center;
  maring-right: 80%;
  right: -15px;

}
 


.toggle:hover, .toggle-menu:hover { background-color: silver; }/**quando l'elemento è selezionato**/

[id^=drop]:checked + ul { display: block; }



/**menu con le spunte a destra**/
.toggle-menu span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.toggle-menu span:after {
	/*per la freccia vicino al menu*/
	background-image: url("../immagini/icone/arrow.png");
	background-repeat:no-repeat;
    background-size: 10px;
    width: 15px; 
    height: 15px;
    margin-top:15px;
    content:"";
	/*content:url("C:/PROGETTI WEB/A_HTML_NUOVO/WebContent/immagini/arrow.png");*/
  /*content: '\21E3';*/
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.toggle-menu:hover span {
  padding-right: 30px;
}

.toggle-menu:hover span:after {
  opacity: 1;
  right: 0;
}
/** fine menu con le spunte a destra**/


nav a{
	font-size: 22px;
	line-height: 40px;
	padding: 8px 5px;
}
nav ul {
 float: none;
 text-align: center;
}


nav ul li {
  display: block;
  width: 100%;
}

.dropdown{
	line-height: 40px;
}
nav ul ul .toggle,  nav ul ul a { padding: 0 40px; }

nav a:hover,  { background-color: #000000; }

/**riferito a volo, check-in, bagagli**/
nav ul li ul li .toggle,  nav ul ul a { background-color: yellow; }

nav ul ul {
  float: none;
  position: static;
  color: #ffffff;
}

nav ul ul li:hover > ul, nav ul li:hover > ul { display: none; }

nav ul ul li {
  display: block;
  width: 100%;
}

/** NAV INFERIORE **/


}
/**************************** MAX-WIDTH 768-FINE**************************************/



/******************************** MIN-WIDTH 769 ***************************************/

@media screen and (min-width : 769px) {
	
	.shop-menu ul li{ 
  margin-left: 15px;
  margin-right: 15px;
 	
}
	
}
/**************************** MIN-WIDTH 769-FINE **************************************/

@media screen and (max-width : 330px) {

	nav ul li { 
 	 display: block;
	}

}