@CHARSET "ISO-8859-1";
/*********************************** CSS REGISTRAZIONE *************************************/
body{
	
	background-image: url(../immagini/sfondo/bolle6.jpg);
	background-repeat: initial;
	
	background-size: 100%;
}

.form-style-5{
    max-width: 500px;

    background: #f4f7f8;
    margin: 10px auto;
    padding:5px;
    background: rgba(190, 214, 243, 0.8);
    border-radius: 25px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
#paese{
	background: rgba(255, 255, 255, 0.8);
	padding: 8px 10px;
		color:#b30047; 
	margin-bottom: 3%;
	margin-top: 1%;
	height: 40px;
	width: 90% !important;
	border: 2px solid #2877d7; /*colore bordo*/
	border-radius: 5px;
		font: 18px Arial, Helvetica, sans-serif;
}

#indirizzo{
	background: rgba(255, 255, 255, 0.8);
	padding: 8px 10px;
	margin-bottom: 3%;
	margin-top: 1%;
	height: 25px;
	width: 80% !important;
	border: 2px solid #2877d7; /*colore bordo*/
	border-radius: 5px;
		font: 18px Arial, Helvetica, sans-serif;
}

#emailReg{
	background: rgba(255, 255, 255, 0.8);
	padding: 8px 10px;
	margin-bottom: 3%;
	margin-top: 1%;
	height: 25px;
	width: 80% !important;
	border: 2px solid #2877d7; /*colore bordo*/
	border-radius: 5px;
		font: 18px Arial, Helvetica, sans-serif;
}
#numerotelefono{
	background: rgba(255, 255, 255, 0.8);
	padding: 8px 10px;
	margin-bottom: 3%;
	margin-top: 1%;
	height: 25px;
	width: 80% !important;
	border: 2px solid #2877d7; /*colore bordo*/
	border-radius: 5px;
		font: 18px Arial, Helvetica, sans-serif;
}

#cartaidentita{
	background: rgba(255, 255, 255, 0.8);
	padding: 8px 10px;
	margin-bottom: 3%;
	margin-top: 1%;
	height: 25px;
	width: 80% !important;
	border: 2px solid #2877d7; /*colore bordo*/
	border-radius: 5px;
		font: 18px Arial, Helvetica, sans-serif;
}

#codiceFiscale{
	background: rgba(255, 255, 255, 0.8);
	padding: 8px 10px;
	margin-bottom: 3%;
	margin-top: 1%;
	height: 25px;
	width: 80% !important;
	border: 2px solid #2877d7; /*colore bordo*/
	border-radius: 5px;
		font: 18px Arial, Helvetica, sans-serif;
}
#passaporto{
	background: rgba(255, 255, 255, 0.8);
	padding: 8px 10px;
	margin-bottom: 3%;
	margin-top: 1%;
	height: 25px;
	width: 80% !important;
	border: 2px solid #2877d7; /*colore bordo*/
	border-radius: 5px;
		font: 18px Arial, Helvetica, sans-serif;
}
input[type=date].input_Data{
		display: inline-block;
	background: rgba(255, 255, 255, 0.8); /*colore di sfondo*/
	color:#b30047; /*colore del testo*/
	font: 18px Arial, Helvetica, sans-serif;
	padding: 8px 10px;
	margin-bottom: 3%;
	margin-top: 1%;
	height: 25px;
	width: 85% !important;
	font-family: sans-serif;
	border: 2px solid #2877d7; /*colore bordo*/
	border-radius: 5px;
}

input[type=text].input_reg, input[type=password], input[type=number]  {
	display: inline-block;
	background: rgba(255, 255, 255, 0.8); /*colore di sfondo*/
	color:#b30047; /*colore del testo*/
	font: 18px Arial, Helvetica, sans-serif;
	padding: 8px 10px;
	margin-bottom: 3%;
	margin-top: 1%;
	height: 25px;
	width: 85% !important;
	font-family: sans-serif;
	border: 2px solid #2877d7; /*colore bordo*/
	border-radius: 5px;
	/* border: 1px solid #ccc;
	box-sizing: border-box; */
}

.titReg{
  color: #3333cc;
	font: sans-serif;
   	padding: 5px 5px;
}
/***************************Calendario********************/

.input:FOCUS, input[type=date]:FOCUS {
	outline: none; /*toglie il bordo blu intorno*/
	border: 2px solid #2877d7; /*bordo colore quando selezionato*/
	border-collapse: collapse;
}

/* rimuove le doppie frecce */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator{
	 color: rgba(0, 0, 0, 0);
    opacity: 1;
}


/* Calendario immagine */
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    float: right;
    background: url("../immagini/icone/calendar2.png") no-repeat;
    width: 14px;
    height: 14px;
    margin-left: 5px;
}


input[type="date"]{
	
	width:243px;
    height: 243px;
}

.US_sub{
  padding: 8px 15px;
  font-size: 19px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #343a65;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 2px #b4b4b4;
  margin-bottom:20px;
}

.US_sub:hover{
	background-color: #7ca3b6;
}

.US_sub:active{
  background-color: #76c0c9;
  box-shadow: 0 3px 4px #b4b4b4;
  transform: translateY(4px);
}